html {
    font-size: 14px;
    box-sizing: border-box;
}
@media screen and (min-width: 60rem) {
    html {
        font-size: 16px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #333;
    font-size: 1.125rem;
    line-height: 1.6
}

a {
    color: #900028;
    text-decoration: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 2rem;
}


/* ==========================================================================
   Preference Sections
   ========================================================================== */

.pref-section {
    border-bottom: 1px solid #ddd;
    margin: 2rem 0;
}

.pref-list--container.has-more {
    position: relative;
    overflow-y: hidden;
    max-height: 11.8em;
}

.pref-label {
    margin-top: 0;
    margin-bottom: .8em;
    display: inline-block;
}

.pref-multiselect {
    font-size: .8em;
    margin-left: 10px;
    display: inline-block;
}
.pref-multiselect a + a:before {
    content: ' | ';
    color: #333;
    pointer-events: none;
    cursor: default;
    position: relative;
}

.pref-list {
    padding-bottom: 1.4em;
}

.pref-item {
    display: block;
    padding-bottom: 1em;
    padding-left: 20px;
}

.pref-selector {
    margin-left: -20px;
    margin-right: 6px;
    width: 14px;
}

.pref-more {
    display: block;
    font-weight: bold;
    padding-left: 4px;
    opacity: 0;
    transition: opacity .15s;
}

@media screen and (min-width: 35rem) {
    .pref-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 50px;
        -moz-column-gap: 50px;
        column-gap: 50px;
    }

    .pref-item {
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
}

@media screen and (min-width: 60rem) {
    .pref-section {
        display: -webkit-flex;
        display: flex;
    }

    .pref-label {
        margin-bottom: 0;
        display: block;
    }

    .pref-multiselect {
        margin-left: 0;
        display: block;
    }

    .pref-label--container {
        width: 20rem;
    }

    .pref-list--container {
        -webkit-flex: 1;
        flex: 1;
        width: 100%;
    }
}


/* ==========================================================================
   States
   ========================================================================== */


.trigger-more {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    background: linear-gradient(to bottom, transparent, white 30%);
    padding-top: 2.4em;
    padding-bottom: 2.4em;
    opacity: 0;
}

.has-more .trigger-more {
    opacity: 1;
}

.has-more.is-open {
    max-height: none;
}
.is-open .trigger-more {
    opacity: 0;
}













/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
