html {
    font-size: 14px;
    box-sizing: border-box;
}
@media screen and (min-width: 60rem) {
    html {
        font-size: 16px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #333;
    font-size: 1.125rem;
    line-height: 1.6
}

a {
    color: #900028;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: .7em;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

.container {
    max-width: 90rem;
    margin: 0 auto 5rem;
    padding: 0 2rem;
}


/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    font-size: 1.2em;
    padding: .4em 2em;
    border-radius: 4px;
    letter-spacing: .03em;
    display: inline-block;
    text-align: center;
    background: #900028;
    color: #ffffff;
    border: 1px solid #5d001a;
    text-decoration: none;
}


/* ==========================================================================
   Forms
   ========================================================================== */

.input-group {
    margin: 2rem 0 4rem;
    position: relative;
}

.input-text,
.float-label {
    display: block;
    width: 100%;
    padding: .3em .7em;
    transition-duration: .2s;
}

.input-text {
    border: 1px solid #ccc;
    max-width: 30em;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition-property: border, box-shadow;
}

.input-text:focus {
    outline: none;
    border-bottom-color: #900028;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 1px 0px 0px #900028;
}

.input-text:focus:valid {
    border-bottom-color: #6D9297;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 1px 0px 0px #6D9297;
}

.float-label {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(0,0,0,.4);
    pointer-events: none;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    transition-property: font, padding, bottom;
}

.float-label h3{
    margin: 0;
    font-weight: normal;
}

.no-js .float-label,
.dirty .float-label {
    color: #333;
    font-size: 1.17em;
    font-weight: bold;
    padding-left: 0;
    bottom: 1.7em;
}
.dirty .float-label {
    -webkit-animation: fadeIn .4s;
    animation: fadeIn .4s;
}

.form-footer {
    text-align: center;
    width: 100%;
}


/* ==========================================================================
   Intro
   ========================================================================== */

.logo {
    margin: 2rem auto;
}

.intro {
    background-color: #f0f0f0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.intro-heading {
    font-size: 1.7em;
    font-weight: normal;
    margin: 0 0 .2em;
}


/* ==========================================================================
   Preference Sections
   ========================================================================== */

.pref-section {
    border-bottom: 1px solid #ddd;
}

.pref-section:last-child {
    border-bottom: none;
}

.pref-list--container.has-more {
    position: relative;
    overflow-y: hidden;
    max-height: 11.8em;
}

.pref-label {
    margin-top: 0;
    margin-bottom: .8em;
    display: inline-block;
}

.pref-multiselect {
    font-size: .8em;
    margin-left: 10px;
    display: inline-block;
}
.pref-multiselect a + a:before {
    content: ' | ';
    color: #333;
    pointer-events: none;
    cursor: default;
    position: relative;
}

.pref-list {
    padding-bottom: 1.4em;
}

.pref-item {
    display: block;
    padding-bottom: 1em;
    padding-left: 20px;
}

.pref-selector {
    margin-left: -20px;
    margin-right: 6px;
    width: 14px;
}

.pref-more {
    display: block;
    font-weight: bold;
    padding-left: 4px;
    transition: visibility .15s, opacity .15s;
}

@media screen and (min-width: 35rem) {
    .pref-list {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 50px;
           -moz-column-gap: 50px;
                column-gap: 50px;
    }

    .pref-item {
        -webkit-column-break-inside: avoid;
                  page-break-inside: avoid;
                       break-inside: avoid;
    }
}

@media screen and (min-width: 60rem) {
    .pref-section {
        display: -webkit-flex;
        display: flex;
    }

    .pref-label {
        margin-bottom: 0;
        display: block;
    }

    .pref-multiselect {
        margin-left: 0;
        display: block;
    }

    .pref-label--container {
        width: 20rem;
    }

    .pref-list--container {
        -webkit-flex: 1;
                flex: 1;
        width: 100%;
    }
}

/* ==========================================================================
   States
   ========================================================================== */

.trigger-more {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), white 30%);
    background: linear-gradient(to bottom, rgba(255,255,255,0), white 30%);
    padding-top: 2.4em;
    padding-bottom: 2.4em;
    opacity: 0;
    visibility: hidden;
}

.has-more .trigger-more {
    opacity: 1;
    visibility: visible;
}

.has-more.is-open {
    max-height: none;
}
.is-open .trigger-more {
    opacity: 0;
    visibility: hidden;
}


/* ==========================================================================
   Key frames
   ========================================================================== */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
