[mailer]
to              = ""
from            = ""
fromName        = ""
subject         = ""

[imc]
baseUrl         = ""
client_id       = ""
client_secret   = ""
refresh_token   = ""
username        = ""
password        = ""
database_id     = ""

[imcqa]
baseUrl         = ""
client_id       = ""
client_secret   = ""
refresh_token   = ""
username        = ""
password        = ""
database_id     = ""

[mailchimp]
api_key         = ""